<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77670646010-vlgpolq9ab790e0m5b0oeup9jupfh36f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77670646010-vlgpolq9ab790e0m5b0oeup9jupfh36f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>77670646010-1c709jdi63f5rbdlsek7fptvn2t39mp4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaC3tl274UEHMz1k_omZomVb_sRNR648w</string>
	<key>GCM_SENDER_ID</key>
	<string>77670646010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>bank-app-41b08</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-app-41b08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77670646010:ios:db7ea3d21d3e0eeef68943</string>
</dict>
</plist>